@import './variables';
// importing variables _ 5

// variables _ 1
header{
    background-color: $primaryBtm;
    display: flex;
    justify-content: center;
    // nesting selectors _ 2
    button{
        color: red;
        //  Adding hover and after _ 3
        &:hover{
            background-color: blue;
        }
        &::after{
            content: "Chiaooo";
            border: 1px solid black;
        }
    }
}

// separando el codigo en multiples partes _ 4

@import './section';

// mixin include _ 6

div.test1{
@include eric(space-around, blue);
}

// extend _ 7
div.test2{
    @extend section;
    background-color: aqua;
    }